/* Default styles */
body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0
;}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.name {
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav p {
  margin-right: 20px;
}

#contact-form-container {
  display: none;
}

/* Aside styles */
#aside {

  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 250px;
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  transition: left 0.3s ease;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.aside-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.aside-link-products {
  display: none;
}

.active {
  font-weight: bold;
}

/* Main styles */
main {
  padding: 20px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.box {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.box span {
  display: block;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Hamburger Menu Icon styles */
#menu-toggle {
  display: none; /* Hide the toggle button by default */
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

#menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

/* Show the aside when menu is toggled */
#menu-toggle.open ~ #aside {
  left: 0;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .boxes {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }

  .charts {
    flex-direction: column;
  }

  .chart-container {
    width: 100%;
  }

  /* Hide the aside by default on smaller screens */
  #aside {
    left: -200px;
  }

  /* Show the aside when menu is toggled on smaller screens */
  #menu-toggle.open ~ #aside {
    left: 0;
  }

  /* Show the toggle button on smaller screens */
  #menu-toggle {
    display: block;
  }
}
