html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#header {
  background-color: #495896;
  border-radius: 10px;
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 5px;
  left: 240px;
  z-index: 1000;
}

.name {
  margin-top: 0;
}

#contact-button {
  background-color: #495896;
  color: white;
  padding: 15px;
  text-align: center;
  display: block;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#contact-email {
  background-color: #495896;
  color: white;
  padding: 8px;
  text-align: end;
  display: block;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#contact-form-container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #495896;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 20px;
  border-radius: 10px;
}

#contact-form-container form {
  max-width: 400px;
  margin: 0 auto;
}

#contact-form-container label {
  display: block;
  margin-bottom: 5px;
}

#contact-form-container input[type='text'],
#contact-form-container input[type='email'],
#contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact-form-container button[type='submit'] {
  background-color: #ffffff;
  color: #495896;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#aside {
  background-color: #495896;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px;
  width: 200px;
  height: 95.7%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#aside a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
}

#aside a:hover {
  background-color: #ffffff;
  color: #495896;
}

#aside .aside-link span {
  margin-left: 20px;
}

main {
  display: grid;
  margin-top: -100px;
  margin-left: 240px;
  margin-right: 30%;
}

.boxes {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  width: 100%;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.box5 {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left: 70px;
}

.box5 ion-icon {
  font-size: 30px;
  margin-bottom: 5px;
  color: #495896;
}

.box5 .text {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #495896;
}

.box5 .year-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.box5 .year-button {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #495896;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.box ion-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #495896;
}

.box .text {
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #495896;
}

.box .number {
  font-size: 24px;
  font-weight: bold;
  color: #495896;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  grid-template-areas:
    'musim profit'
    'recordCount profit'
    'Insights Insights';
  gap: 20px;
  width: 100%;
  padding: 100px;
  margin-top: 50px;
  margin-left: 180px;
}

.chart-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chart-container p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #495896;
}

#musimChart {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chart-container.recordCount {
  grid-area: recordCount;
  display: flex;
  flex-direction: column;
}

#profitChart {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#recordCountChart {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

main {
  grid-area: main;
  padding: 20px;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: -80px;
}

canvas {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100% !important;
  height: auto !important;
}

footer {
  background-color: #495896;
  color: #ffffff;
  padding: 0.8rem;
  position: fixed;
  bottom: 0;
  left: 240px;
  right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  #header {
    left: 0;
    margin-left: 2px;
    margin-right: -5px;
  }

  main {
    margin-left: 2px;
    margin-right: 2px;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-left: 15px;
    left: 0;
  }

  .charts2 {
    grid-template-columns: 1fr;
    margin-left: 15px;
    width: 95%;
  }

  .charts3 {
    grid-template-columns: 1fr;
    margin-left: 2px;
    margin-right: 1px;
  }

  .box {
    width: 100%;
  }

  #menu-toggle {
    display: block;
    position: fixed;
    margin-top: 550px;
    margin-left: 600px;
    left: 20px;
    z-index: 999;
    background-color: #495896;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease;
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #aside {
    display: none;
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #495896;
    z-index: 998;
    overflow-y: auto;
    transition: transform 0.3s ease;
    margin-top: 140px;
  }

  #aside a {
    color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  #aside.open {
    display: block;
  }

  #aside img {
    margin-top: 5px;
    margin-right: 250px;
  }

  .link-products-active {
    margin-left: 0;
  }

  .country-dropdown {
    margin-top: 250px;
    margin-left: -5px;
    margin-right: 0px;
  }

  footer {
    margin-left: 100px;
  }
}
