/* css style body */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#header {
  background-color: #495896;
  border-radius: 10px;
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -15px;
  right: 5px;
  left: 230px;
  z-index: 1000;
  margin: 20px;
}

#categoryFilter {
  margin-top: 150px;
  position: relative;
  margin-right: -220px;

}
#yearFilter {
  margin-top: 150px;
  position: relative;
}
label {
  width: 100%;
  margin-top: 150px;
  position: relative;
  margin-left: 255px;
  margin-right: -5px;
  color: #495896;
  padding: 10px;
}

.name {
  margin-top: -15px;
}

#contact-button {
  background-color: #495896;
  color: white;
  padding: 15px;
  text-align: center;
  display: block;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
#contact-email {
  background-color: #495896;
  color: white;
  padding: 8px;
  text-align: end;
  display: block;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#contact-form-container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #495896;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 20px;
  border-radius: 10px;
}

#contact-form-container form {
  max-width: 400px;
  margin: 0 auto;
}

#contact-form-container label {
  display: block;
  margin-bottom: 5px;
  margin-top: 0;
}

#contact-form-container input[type='text'],
#contact-form-container input[type='email'],
#contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact-form-container button[type='submit'] {
  background-color: #ffffff;
  color: #495896;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#aside {
  background-color: #495896;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px;
  width: 200px;
  height: 95.7%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.aside-link span {
  font-size: 20px;
}

.aside-link-products {
  font: x-large;
  font-size: 20px;
}

.aside-link-products i {
  margin-left: -20px;
  margin-right: 20px;
}

#aside .aside-link.active {
  background-color: #ffffff;
  color: #495896;
}

.aside-link i {
  font-size: 20px;
}

#aside a,
#aside button {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  margin-top: 40px;
  transition: background-color 0.1s ease-in-out;
}

#aside button {
  background-color: transparent;
  border: none;
}

#aside a:hover,
#aside button:hover {
  background-color: #fff;
  color: #495896;
  cursor: pointer;
}

#aside .aside-link span {
  margin-left: 20px;
  font-weight: bolder;
  font-size: 25px;
}

#aside .aside-link-products {
  display: none;
}

#aside .link-products-active {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  gap: 20px;
}

#aside .dropdown-product-active {
  background-color: #fff;
  color: #495896;
}

#aside .aside-link-products a {
  margin-block: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.logo img {
width: 100%;
height: 110px;
}
#aside .aside-link-products {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  gap: 20px;
}

#aside .link-products-not-active {
  display: none;
}

#aside .aside-link-products .accessories-link {
  background-color: #fff;
  color: #495896;
}

footer {
  border-radius: 10px;
  color: #495896;
  margin-top: 35px;
  margin-left: 250px;
  margin-right: 20px;
  max-width: calc(100% - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  margin-top: 5px;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
    #header {
        left: 0;
        margin-left: 2px;
        margin-right: -5px;
    }

    main {
        margin-left: 2px;
        margin-right: 2px;
    }

    #menu-toggle {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        background-color: #495896;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px auto;
        transition: all 0.3s ease;
    }

    .hamburger.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #aside {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background-color: #495896;
        z-index: 998;
        overflow-y: auto;
        transition: transform 0.3s ease;
    }

    #aside a {
        color: #fff;
        display: block;
        padding: 15px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    #aside.open {
        display: block;
    }

    #aside img {
        margin: 20px auto;
        display: block;
    }

    #aside .aside-link-products {
        margin-left: 40px;
    }

    .link-products-active {
        margin-left: 0;
    }

    .table__header {
    margin-top: 130px;
    }

    .table__body{
    margin-left:10px ;
    }

    footer {
    margin-top: 5px;
    margin-left: 100px;
  }
}
